/* line 7, ../sass/index.scss */
.pag-index .parte2 .encabezado {
  margin: auto;
  padding: 1em 0 1em 0;
}
/* line 11, ../sass/index.scss */
.pag-index .parte2 .encabezado h3 {
  color: #26A69A;
}
/* line 17, ../sass/index.scss */
.pag-index .parte2 .miviva .cards-cont {
  margin-bottom: 2rem;
}
/* line 20, ../sass/index.scss */
.pag-index .parte2 .miviva .cards-cont .card-body {
  min-height: 220px;
}
