@import "variable.scss";

footer{
    background-color: $grisesito;
    margin-top:1.5rem ;
.contac{
    a{
        color: $azulito;
    }
    
}
.iconos{
    display: flex;
    justify-content: center;

    .ico{
        color: $rosadito !important;
    }
}
}